<div class="pages">
	<div class="row">
		<div class="col-md-4">
			<div class="list-group users">
			</div>
		</div>
		<div class="col-md-8">
			<div class="login page">
				<div class="form">
					<div class="userValidation">
					</div>
					<div class="input-group"> 
						<span class="input-group-addon">@</span>
						<input type="text" required="required" maxlength="10"
							id="chatname" class="form-control usernameInput" 
							placeholder="Enter your chat name..."> 						
					</div>
				</div>
			</div>
			<div class="chat page">
				<div class="onlines">
				</div>
				<div class="">
					<input type="text" class="form-control inputMessage" 
							maxlength="30" placeholder="Type here..." />
					<div class="typingmsg">
					</div>
					<div class="chatArea">
						<ul class="list-group messages">
						</ul>
					</div>						
				</div>
			</div>
		</div>
	</div>
</div>